<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">

    <bean id="foo" class="com.mycompany.springdidz.onlyxml.autowiring.classes.Foo"
        p:name="Good foo" />
    <bean id="bar" class="com.mycompany.springdidz.onlyxml.autowiring.classes.Bar" />
    <bean id="cafe" class="com.mycompany.springdidz.onlyxml.autowiring.classes.Cafe" />
    
    <bean id="targetByName" autowire="byName" 
        class="com.mycompany.springdidz.onlyxml.autowiring.classes.DataTarget"
        lazy-init="true" />
    
    <bean id="targetByType" autowire="byType" 
        class="com.mycompany.springdidz.onlyxml.autowiring.classes.DataTarget"
        lazy-init="true" />
    
    <bean id="targetConstructor" autowire="constructor" 
        class="com.mycompany.springdidz.onlyxml.autowiring.classes.DataTarget"
        lazy-init="true" />
    
    <bean id="targetDefault" autowire="default" 
        class="com.mycompany.springdidz.onlyxml.autowiring.classes.DataTarget"
        lazy-init="true" />
</beans>
